@font-face {
  font-family: "Besom";
  src: url("subset-Besom.woff2") format("woff2"),
    url("subset-Besom.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
