.section-header {
  padding-top: 40px;
  padding-bottom: 30px;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  color: #ff0000;
  font-size: 68px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  &::before {
    white-space: nowrap;
    opacity: 0.1;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #32383f;
    font-family: "Besom";
    font-size: 180px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 9px;
  }
  &--roadmap::before {
    content: "Что вас ждёт";
  }
  &--roadmap {
    margin-bottom: 75px;
  }
}
@include responsive(1050) {
  .section-header {
    &::before {
      letter-spacing: 6.5px;
      font-size: 130px;
    }
  }
}
@include responsive(650) {
  .section-header {
    font-size: 36px;
    letter-spacing: 1.8px;
    &::before {
      font-size: 100px;
    }
  }
}
